@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-button{
  border: 1px solid white;
  border-radius: 21px 0px;
  padding: 7px 17px;
}

.banner_btn_left, .banner_btn_right{
  border: 1px solid white;
  border-radius: 1px 26px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-button, .course-button{
  border: 1px solid white;
  border-radius: 21px 0px;
  padding: 7px 17px;
}

.banner_btn_left, .banner_btn_right{
  border: 1px solid white;
  border-radius: 1px 26px;
}



.banner-images {
  background-image: url("../assets/banner-shadow.png");
  background-position: 50% 163%;
  background-repeat: no-repeat;
  height: 132vh;
  background-size: 73% 99%;
}
.student-bg {
    background-image: url("../assets/students-bg.png");
    background-position: 47% 80%;
    background-repeat: no-repeat;
    height: 188vh;
    background-size: cover;
}
.categories-images {
  background-image: url("../assets/categories-bg.png");
  background-position: calc(51% + 184px) calc(-653% + 17px);
  background-repeat: no-repeat;
  height: calc(126vh - 12rem);
  background-size: 74% 98%;
  margin-top: -206px;
}

.courses {
  background-image: url('../assets/Frame.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 7% 7%;
}

@media screen and (max-width: 768px) {
  .banner-images {
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
  }
}

.companies-carousel{
  position: relative;
  /* z-index: -99; */
}

.slick-track {
	display: flex !important;
	gap: 40px !important;
}